{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock %}

{% block content %}
<div class="flex flex-col my-10 align-items-center my-4 rounded-lg p-9 " style="background-color: rgba(0, 0, 0, 0.7);">
  <style>
      body {
          background-image: url("{% static 'rdr2_bg2.jpg' %}");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          background-attachment: fixed;

      }

    .text-large {
      font-size: 20px;
    }
    .text-medium {
      font-size: 18px;
    }
    .text-small {
      font-size: 14px;
    }
    .text-tiny {
      font-size: 12px;
    }
    .text-xsmall {
      font-size: 10px;
    }
    .text-xxsmall {
      font-size: 8px;
    }
    .btn-left {
      float: left;
    }
    .btn-right {
      float: right;
    }
  </style>
    <div class="bg-base-200 p-10 square-box ">
      <div class="flex items-center gap-4 mb-4">
        <img src="{{ profile.get_avatar }}" alt="avatar" width="100px">
        <p class="text-white text-large">{{ profile.user.username }}</p>
      </div>
      <div class="mt-4">
          {% comment %} <h2 class="text-2xl font-bold mb-4">Description</h2> {% endcomment %}
          <p class="text-gray-500 mb-4">{{ profile.bio|safe }}</p>
      </div>
        {% comment %} <p class="text-gray-500 mb-4">Email: {{ profile.user.email }}</p> {% endcomment %}
        {% if is_owner %}
        {% comment %} <a href="{% url 'members:logout' %}" class="btn btn-error btn-outline">Logout</a> {% endcomment %}
        <div class="bg-base-00 p-10 rounded-box ">
          <div class="btn-right gap-4 mb-4">
            <p class="text-gray-500 text-small">You can feature one of your Badges here. Select one from your edit profile page.</p>
            <a href="{% url 'members:profile_edit' %}" class="btn btn-info btn-outline btn-right">Edit Profile</a>
            </div>
        </div>
        {% else %}
          {% if is_following %}
            <a href="{% url 'members:follow'  profile.id %}" class="btn btn-accent btn-outline">Unfollow</a>
          {% else %}
            <a href="{% url 'members:follow'  profile.id %}" class="btn btn-info btn-outline">Follow</a>
          {% endif %}
        {% endif %}
        <div class="mt-4">
            <h2 class="text-2xl font-bold mb-4">Followers</h2>

              <div class="flex items-center space-x-4">
                {% if followers.count == 0 %}
                  <span class="text-gray-500">No followers</span>
                {% endif %}
                {% for follower in followers %}
                  {% if forloop.counter <= 3 %}
                      <a href="{% url 'members:profile' follower.id %}">
                      <img src="{{ follower.get_avatar }}" alt="avatar" class="h-10 w-10 rounded-full ring-2 ring-white">
                      </a>
                  {% endif %}

                {% endfor %}
                {% if followers.count > 3 %}
                 <span class="text-gray-500">and {{ followers.count|add:"-3" }} more</span>
                {% endif %}
            </div>
          </div>

          <div class="bg-base-200 p-10 rounded-box mt-4">
            <h1 class="text-3xl font-bold mb-4">Followers</h1>
            <div class="flex items-center space-x-4">
              {% if following.count == 0 %}
                <span class="text-gray-500">No following</span>
              {% endif %}

              {% for follower in following %}
                {% if forloop.counter <= 3 %}
                  <a href="{% url 'members:profile' follower.id %}">
                    <img src="{{ follower.get_avatar }}" alt="avatar" class="h-10 w-10 rounded-full ring-2 ring-white">
                  </a>
                {% endif %}

              {% endfor %}
              {% if following.count > 3 %}
                <span class="text-gray-500">and {{ following.count|add:"-3" }} more</span>
              {% endif %}
            </div>
          </div>  
            
        </div>
    </div>
    <div class=" bg-base-200 p-10 rounded-box">
        <h1 class="text-3xl font-bold mb-4">Posts</h1>
        {% if is_owner %}
        <a onclick="my_modal_4.showModal()" class="btn btn-outline btn-info">Create Post</a>

        {% endif %}
        <div class="grid grid-cols-3 gap-7">
            {% for post in posts %}
        
              {% include 'blog/_include_blocks/_card_post.html' with post=post is_control=is_owner %}
    
            {% endfor %}
        </div>
        <div class="join align-center justify-center flex my-4">
          {% if posts.has_previous %}
          <a href="?page=1" class="join-item btn">«</a>
          <a href="?page={{ posts.previous_page_number }}" class="join-item btn">Page {{ posts.previous_page_number }}</a>
          {% endif %}
    
          <button class="join-item btn btn-success btn-outline">Page {{ posts.number }}</button>
    
          {% if posts.has_next %}
          <a href="?page={{ posts.next_page_number }}" class="join-item btn">Page {{ posts.next_page_number }}</a>
          <a href="?page={{ posts.paginator.num_pages }}" class="join-item btn">»</a>
          
          {% endif %}
        </div>
    </div>


{% if is_owner %}
    <dialog id="my_modal_4" class="modal">
        <div class="modal-box w-11/12 max-w-5xl">
          <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost btn-outline absolute right-2 top-2">✕</button>
          </form>
          <h3 class="font-bold text-lg mb-4">Create Post</h3>
          <form action="{% url 'blog:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="grid grid-cols-1 gap-6">
            {% for field in created_form %}
              <div class="form-control">
                  <label class="label">
                    <span class="label-text">{{ field.label }}</span>
                  </label>
               {% if field.name == 'content' %}
                <textarea class="textarea textarea-bordered" name="{{ field.name }}" placeholder="{{ field.label }}" rows="5"></textarea>
                {% elif field.name == 'image' %}
                <input type="file" name="{{ field.name }}" class="file-input file-input-bordered file-input-accent  w-full max-w-xs" placeholder="{{ field.label }}">
                {% else %}
                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="input input-bordered" placeholder="{{ field.label }}">
                {% endif %}
              </div>
            {% endfor %}
            <button class="btn btn-info btn-outline">Create</button>
          </div>
            
          </form>
        </div>
      </dialog>
{% endif %}
{% endblock %}


  